
  h1{
    margin: auto;
    width: 20%;
    border: 3px solid green;
    padding: 20px;
      
  }

td{ 
    width: 100px;
    height: 100px;
}

.divClass1{
    width: 25%;
    margin:  auto;
    padding: 20px;
    padding: 50px;
    /* height: 300px; */
    /* //width: 300px; */
    
}

#id1{
    /* color: red; */
    font-size: 100;
    /* border: solid; */
}

#startId{
    font-size: 20px;
    color: cornflowerblue;
}